In [1]:
import pandas as pd
import numpy as np

In [3]:
print(float(10))
print(int(10.00))

10.0
10

In [2]:
df = pd.read_fwf("sample_with06", skiprows=32, header=None)
df.drop([0], axis=1, inplace= True)
df = df.replace('\n','', regex=True)
df.tail()

                                                    1
22  000000000000000000F040000000000000000000000000...
23  0000000000000000000000000000000000000000000000...
24  0000000000000000000000000000000000000000000000...
25  0000000000000040404040404040404040404040400000...
26                 0000000000000000000000000000000000

In [3]:
value = ''.join(df[1].values)
value

'F0F0F0F0F0F0F6F7F6C4D6D4D4D3C1F140C4D6D4C140F0F1C1C4D7F4400000000000000000E2F0F6F0F0F1F9F0F6F2F6E7F7F8F5F6069FF0F0F1C3D6D4D640F1C4D6D4C140F040404040404040404040404040F04040F1C34040F1F2F0F1F9F0F6F2F4F1F2F0F1F9F0F6F2F6F1C2F1E3C6E3F1C2D5E7C6F4F0F0F2F0F0F24040404040F04040F040404040404040404040404040404040F040F040404040404040404040404040F1F2F0F1F7F0F5F9F7F9F7404040404040F1C7C1F1F0F0F040404040404040404040404040F1E8F1F1F9F0F6F2F6E7F7F8F5F64040F0404040404040404040F1C2D6E240F9F6F0F0F8F840404040404040404040404040404040404040400000000000000000F1C3C1F1F3F8F0F3F5F1F0F0F9F1C3C1C4F1F0F0F0F0F0F0F0F1F0F0F0F0F0F1F0F0F0F0F0F0F5F1F4F6F2F0F0F0F0F0F0F0404040404040404040404040F04040404040404040404040F04040404040404040404040F04040404040404040404040F04040404040404040404040F160F0F0F0F0F0F0F3F0F8F8F04040404040404040404040F1F0F0F0F0F0F0F5F1F4F6F2F0F0F040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040F040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404000000000000000000000F04000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004040404040404040404040404040000000000000000000000000000000000000000000'

In [4]:
len(value)

1334

In [5]:
#import ebcdic
#import codecs

In [6]:
value[106:108]

'06'

In [9]:

mybytes = bytearray.fromhex(value)


#string = unicode(mybytes, 'cp500')

string = mybytes.decode('cp500').replace('\x00', ' ').replace('\x86', ' ')
string

'000000676DOMMLA1 DOMA 01ADP4         S0600190626X7856 Â¤001COMO 1DOMA 0             0  1C  1201906241201906261B1TFT1BNXF4002002     0  0                0 0             12017059797      1GA1000             1Y1190626X7856  0         1BOS 960088                            1CA13803510091CAD100000001000001000000514620000000            0           0           0           0           1-00000030880           100000051462000                                                                      0                                                                      0                                                                                                           '